<!-- views/partials/sidebar.ejs -->
<div class="sidebar">
    <h2>Welcome, <%= username ? username : 'Guest' %>!</h2>  <!-- Display username if logged in -->
    <ul>
        <li><a href="/patients">Patients</a></li>
        <li><a href="/visits">Visits</a></li>
        <li><a href="/edvisits">Emergency Visits</a></li>
        <li><a href="/discarges">Discharges</a></li>
        <li><a href="/providers">Providers</a></li>
    </ul>
    <hr>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
