<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>E-Medtrics</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/homepage.css">
    </head>
    <body>
        <!-- Navigation Bar -->
        <header>
        <a class="logo"><img src="/Assets/emedtricslogo.png" alt="emedtricslogo"></a>
        <nav id="nav-content">
            <ul class="nav-links">
                <% if (typeof loggedin !== 'undefined' && loggedin) { %>
                    <p>Hello, <%= username %>! <a href="/logout">Logout</a></p>
                <% } else { %>
                    <p><a href="../login">Login</a> or <a href="../signup">Sign Up</a></p>
                <% } %>
            </ul>
        </nav>
        </header>
        
        <!-- Main Content -->
         <main class="grid-container" id="top-page">
            <!-- hero image -->
            <div class="row">
                <div class="col hero-img">
                    <img src="/Assets/Doctors-pana.svg" alt="">
                    <!-- <a href="https://storyset.com/work">Work illustrations by Storyset</a> -->
                </div>   
            </div>
            <!-- hero text -->
            <div class="row">
                <div class="card col hero-text">
                    <p>Smart Data for Smarter Clinics.</p>
                </div>  
            </div>
            <hr style="color: white;">
            <!-- About Us -->
            <h1 class="section-heading text-left" id="about-page">Who Are We?</h1>
            <div class="about-content row">
                <div class="col about-img">
                    <img id="about-img" src="/Assets/emedtricslogo.png" alt="">
                </div>
                <div class="card col about-text">
                    <p>At E-Medtrics, we empowering Clinics with Streamlined Data Management: Transforming patient records, provider interactions, and visit tracking into efficient, secure digital workflows. 
                        Our solution brings accuracy and accessibility to healthcare data, enhancing the quality of care in every clinic.
                    </p>
                </div>  
            </div>
            <hr style="color: white;">
            <!-- Services -->
            <h1 class="section-heading" id="service-page">What Do We Do?</h1>
            <div class="sevices row" id="service-page">
                <div class="service-info col">
                    <img src="/Assets/first-aid-kit-doctor-svgrepo-com.svg" alt="">
                    <p>Develop Data Management Solutions</p>
                </div>

                <div class="service-info col">
                    <img src="/Assets/medicine-pill-svgrepo-com.svg" alt="">
                    <p>Improving and Advancing Existing Health Solutions</p>
                </div>

                <div class="service-info col">
                    <img src="/Assets/stethoscope-doctor-svgrepo-com.svg" alt="">
                    <p>Tech Training For Health Practitioners</p>
                </div>
            </div>
            <!-- CTA -->
            <h1 class="section-heading text-left">Join Us Today and Become Smarter!!</h1>
            <div class="cta-container">
                <div class="cta-box">
                    <div class="cta-section row">
                        <div class="cta-text col">
                            <p>Ready to Get Started?</p>
                        </div>
                        <div class="cta-btn col">
                            <a href=""><button id="cta-contact-btn">Contact Us</button></a>
                        </div>
                    </div>
                </div>
            </div>
         </main>

        <!-- Footer -->
         <footer>
            <div class="footer-content">
                <div class="contact-section row">
                    <div class="footer-info col text-r">
                        <h1 class="footer-header">E-Medtrics Nairobi</h1>
                        <p>Tom Mboya Street, Bizz Tower</p>
                    </div>

                    <div class="footer-info col">
                        <h1 class="footer-header">Contacts</h1>
                        <p>Direct: 0400000456, 01010000</p>
                    </div>

                    <div class="footer-info col">
                        <h1 class="footer-header">Socials</h1>
                        <p>-- Coming Soon, Please Be Patient--</p>
                    </div>
                </div>
                <div class="row">
                    <div class="copyright-section col">
                        <p>Copyright@2024, E-Medtrics Health.</p>
                    </div>
                </div>
            </div>
         </footer>
        
    </body>
</html>