html {
    height: 100%;
    background-color: black;
  }

  /* Login and Signup form */
  
  .form-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .form-content h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .form-content .form-input {
    position: relative;
  }
  
  .form-content .form-input input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .form-content .form-input label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .form-content .form-input input:focus ~ label,
  .form-content .form-input input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .form-content form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }

  .submit-btn{
    text-align: center;
  }

  .form-content .action-button {
    width: 100px;
    background: #ffffff;
    font-weight: bold;
    color: rgb(31, 30, 30);
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
  }
  .form-content .action-button:hover, .form-content .action-button:focus {
    box-shadow: 0 0 0 2px rgb(255, 0, 0), 0 0 0 3px #ff0000;
  }

  /* Update data form */
  .form-row {
    padding: 50px ;
    max-width: 300px;
    margin: 100px auto;
    background:white;
    background:rgba(255,255,255,0.9);
    backdrop-filter:blur(10px);
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:5px;
    transition:transform 0.2s ease-in-out;
  }
  
  .input-data input, select{
    width: 100%;
    margin: 7px 0px;
    display: inline-block;
    padding: 12px 25px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 1em;
    font-family:inherit;
    background:white;
  }
  .input-data select>option {
    padding-right: 20px;
  }

  label {
    color: gray;
  }

  .update-btn {
    background: rgb(87, 99, 87);
    border-radius: 5px;
    padding: 15px 25px;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }

  .update-btn:hover, .update-btn:focus {
    box-shadow: 0 0 0 2px rgb(30, 192, 5), 0 0 0 3px #1fc605;
  }
